{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1 class="text-center">Welcome to Recipe Bundle</h1>
    <div class="container">
        <div class="row" id="index-block">
            <!-- Left text block, stacks on smaller devices -->
            <div class="col-sm-5 index-box">
                <h2>What's for dinner tonight?</h2>
                <p>Browse through recipes from community members for inspiration!</p>
            </div>
            <!-- Right text block, stacks on smaller devices -->
            <div class="col-sm-5 index-box">
                <h2>Craving something special?</h2>
                <p>Search by cuisine, meal type, ingredients or more.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}