{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1 class="text-center">Welcome to Recipe Bundle</h1>
    <div class="row" id="index-block">
        <div class="col-sm-5 index-box">
            <h2>What's for dinner tonight?</h2>
            <p>Uploaded your favourite recipes to the site so you never have to dig through a pile of recipes ever again!</p>
        </div>
        <div class="col-sm-5 index-box">
            <h2>Looking for some inspiration?</h2>
            <p>Search by cuisine, meal type, ingredients or more.</p>
        </div>
    </div>
    <div>
        <p class="text-center">Ready to get started? Sign Up now!</p>
    </div>

</div>
{% endblock %}