[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pep8 = "*"
autopep8 = "*"
pylint = "*"
pylint-flask = "*"
pandas = "*"
flask-pymongo = "*"
dnspython = "*"
pymongo = "*"
certifi = "*"
flake8 = "*"
boto3 = "*"
requests = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
