{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1 class="text-center">Add New Recipe</h1>

    <div id="recipeEditForm">
        <!-- Adapted from https://getbootstrap.com/docs/5.1/forms/layout/ -->
        <form class="row p-3" method="POST" action="{{ url_for('add_recipe') }}">
            <!-- Recipe name input -->
            <div class="row">
                <label for="recipe_name" class="col-sm-2 col-form-label">Recipe name: </label>
                <input type="text" class="form-control col-sm-10" id="recipe_name" name="recipe_name" required>
            </div>
            <!-- Recipe total time -->
            <div class="row">
                <div class="col-sm-6">
                    <label for="total_time" class="col-form-label">Total time: </label>
                    <input type="text" class="form-control" id="total_time" name="total_time" required>
                </div>
                <!-- Recipe active time -->
                <div class="col-sm-6">
                    <label for="active_time" class="col-form-label">Active time: </label>
                    <input type="text" class="form-control" id="active_time" name="active_time" required>
                </div>
            </div>
            <!-- Meal detail selectors -->
            <div class="row">
                <div class="col-sm-4">
                    <label for="cuisine" class="form-label">Cuisine</label>
                    <select id="cuisine" name="cuisine" class="validate form-select" required>
                        <option value="" selected disabled>Choose cuisine type</option>
                        {% for cuisine in cuisines %}
                        <option value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="mealType" class="form-label">Meal Type</label>
                    <select id="mealType" name="mealType" class="validate form-select" required>
                        <option value="" selected disabled>Choose meal type</option>
                        {% for mealtype in mealtypes %}
                        <option value="{{ mealtype.mealtype_name }}">{{ mealtype.mealtype_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="diet" class="form-label">Diet</label>
                    <select id="diet" name="diet" class="validate form-select" required>
                        <option value="" disabled selected>Choose diet type</option>
                        {% for diet in diets %}
                        <option value="{{ diet.diet_name }}">{{ diet.diet_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Ingredients input -->
            <div class="row">
                <div class="col-sm-12">
                    <h2>Ingredients</h2>
                    <div>
                        <span>
                            <input class="col-sm-10" type="text" id="inputIngred" name="inputIngred">
                            <input class="btn btn-primary" type="button" value="Add" onclick="addIngredient(ingrArray)"
                                required>
                        </span>
                    </div>
                    <table id="ingredient-list" name="ingredient-list">
                    </table>
                    <input type="hidden" id="ingr-list" name="ingr-list">
                </div>
            </div>
            <!-- Methods input -->
            <div class="row">
                <div class="col-sm-12">
                    <h2>Method</h2>
                    <div>
                        <span>
                            <input class="col-sm-10" type="text" id="inputMethod" name="inputMethod">
                            <input class="btn btn-primary" type="button" value="Add" onclick="addMethod(methArray)"
                                required>
                        </span>
                    </div>
                    <table id="method-list" name="method-list">
                    </table>
                    <input type="hidden" id="method-list" name="method-list">
                </div>
            </div>
            <div class="col-12">
                <!-- Submit button, saved to MongoDB -->
                <button type="submit" class="btn btn-primary">Save</button>
                <!-- Cancel button, discards changes -->
                <a href="{{ url_for('collection') }}">Cancel</a>
            </div>
        </form>
        <!-- Image upload -->
        <!-- Adapted from https://medium.com/aws-pocket/uploading-files-to-aws-s3-with-flask-3d3d213404fb -->
        <form action="/upload" method="post" enctype="multipart/form-data">
            <p class="card-text">Upload a picture</p>
            <input type="file" name="file" value="file">
            <hr>
            <input type="submit" name="upload" value="Upload" class="btn btn-success">
        </form>
        {{msg}}

    </div>

    {% endblock %}