{% extends "base.html" %}
{% block content %}


<h1 class="text-center">Recipe Collection</h1>

<div id="recipe-container">
    <!-- Table of recipes -->
    <div class="container">
        <form action="{{ url_for('recipes.search') }}" method="post">
            <div class="row">
                <div class="col-sm-8">
                    <label for="search-col">Search recipes</label>
                    <input class="text-center validate" type="text" id="search-col" name="search-col" required>
                    <button type="submit" class="btn-primary">
                        <i class="fas fa-search prefix"></i>
                    </button>
                    <a href="{{ url_for('recipes.collection') }}">
                        <i class="fas fa-undo"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <!-- Table with list of recipes -->
    <!-- Adapted from https://getbootstrap.com/docs/5.1/content/tables/ -->
    <div id="recipe-table" class="container table-responsive">
        <table class="table table-hover table-sm">
            <!-- Table headings -->
            <thead>
                <tr>
                    <th scope="col">Recipe</th>
                    <th scope="col">Cuisine</th>
                    <th scope="col">Meal type</th>
                    <th scope="col">Diet</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <!-- Recipes from MongoDB recipes collection -->
            <tbody>
                {% if recipes|length > 0 %}
                {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe.recipe_name }}</td>
                    <td>{{ recipe.cuisine }}</td>
                    <td>{{ recipe.type }}</td>
                    <td>{{ recipe.diet }}</td>
                    <!-- view link, to view recipe -->
                    <td>
                        <a href="{{ url_for('recipes.select_recipe', recipe_id=recipe._id)}}"
                            class="btn-small btn-link"><i class="far fa-eye"></i></a>
                    </td>
                    <!-- edit link, displays with edit image -->
                    <td>
                        {% if session.user|lower == recipe.creator|lower %}
                        <a href="{{ url_for('recipes.edit_recipe', recipe_id=recipe._id)}}"
                            class="btn-small btn-link"><i class="fas fa-edit"></i></a>
                        {% endif %}
                    </td>
                    <!-- delete link, displays with delete image -->
                    <td>
                        {% if session.user|lower == recipe.creator|lower %}
                        <a href="{{ url_for('recipes.delete_recipe', recipe_id=recipe._id)}}"
                            class="btn-small btn-link"><i class="fas fa-trash-alt"></i></a>
                        {% endif %}
                    </td>

                    {% endfor %}
                </tr>
                {% else %}
                <!-- if no parameters match search, fill out table row to keep border -->
                <tr id="error_msg">
                    <td>No matching results</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <!-- Add recipe button -->
    <div class="container">
        <div class="col-sm-3">
            <a href="{{ url_for('recipes.add_recipe') }}">
                <button type="submit" class="btn btn-primary">
                    Add New
                </button>
            </a>
        </div>
    </div>
</div>

{% endblock %}