{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1 class="text-center">{{ recipe.recipe_name }}</h1>
    <!-- Recipe card, created with data from MongoDB (recipes collection) -->
    <div class="row" id="recipe-card">
        <!-- Side box with recipe details -->
        <div class="col-md-5">
            <div class="row">
                <p>Uploaded by: {{ recipe_creator }}</p>
            </div>
            <div class="row">
                <p class="col">Total time: {{ recipe.total_time }}</p>
                <p class="col">Active time: {{ recipe.active_time }}</p>
            </div>
            <div class="row" id="placeholder-img"
                style="background-image: url('/static/images/other/placeholder.png'); background-repeat: no-repeat; background-position: center;">
                <img id="recipe-image" src=" {{ recipe.image }}" alt="Recipe image">
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p>Meal type: {{ recipe.type }}</p>
                    <p>Diet: {{ recipe.diet }}</p>
                    <p>Cuisine: {{ recipe.cuisine }}</p>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    {% if session.user|lower == recipe.creator|lower %}
                    <!-- Edit button, only available to creator -->
                    <a class="col" href="{{ url_for('recipes.edit_recipe', recipe_id=recipe._id)}}">
                        <button class="btn btn-primary">Edit</button>
                    </a>
                    <!-- Delete button, only available to creator -->
                    <a class="col" href="{{ url_for('recipes.delete_recipe', recipe_id=recipe._id)}}">
                        <button class="btn btn-primary">Delete</button>
                    </a>
                    {% endif %}
                    <!-- Link to return to collection page -->
                    <a class="col nav-link" href="{{ url_for('recipes.collection') }}">
                        <button class="btn btn-link">Return to Collection</button>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col col-md-7">
            <!-- Recipe method and ingredients displayed in accordion, with ingredients showing first -->
            <!-- Adapted from https://getbootstrap.com/docs/5.1/components/accordion/ -->
            <div class="accordion" id="recipeAccordion">
                <!-- Ingredients section -->
                <div class="accordion-item active">
                    <h2 class="accordion-header" id="recipeIngrHeading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#recipeIngr" aria-expanded="true" aria-controls="recipeIngr">
                            Ingredients
                        </button>
                    </h2>
                    <div id="recipeIngr" class="accordion-collapse collapse show" aria-labelledby="recipeIngrHeading"
                        data-bs-parent="#recipeAccordion">
                        <div class="accordion-body" id="ingr_list">
                            <ul>
                                {% for ingredient in recipe.ingredients %}
                                <li>{{ ingredient }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Methods section -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="recipeMethodHeading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#recipeMethod" aria-expanded="false" aria-controls="recipeMethod">
                            Method
                        </button>
                    </h2>
                    <div id="recipeMethod" class="accordion-collapse collapse" aria-labelledby="recipeMethodHeading"
                        data-bs-parent="#recipeAccordion">
                        <div class="accordion-body">
                            <ol>
                                {% for step in recipe.method %}
                                <li>{{ step }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}