{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1 class="text-center">Administration</h1>
    <!-- instruction to view sections -->
    <p>Click on section for details:</p>
    <!-- Cuisines, mealtypes and diet types dropdown items for Add recipe / Edit recipe pages
    split into accordion with buttons to add, links on each individual line to edit or delete -->
    <!-- Adapted from https://getbootstrap.com/docs/5.1/components/accordion/ -->
    <div class="accordion" id="accordionAdmin">
        <div class="accordion-item">
            <!-- Cuisine options view -->
            <h2 class="accordion-header" id="headingOneAdmin">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseCuisines" aria-expanded="true" aria-controls="collapseCuisines">
                    Cuisines
                </button>
            </h2>
            <div id="collapseCuisines" class="accordion-collapse collapse" aria-labelledby="headingOneAdmin"
                data-bs-parent="#accordionAdmin">
                <div class="accordion-body">
                    <!-- table of cuisine options -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">
                                    <!-- button to add additional cuisine item -->
                                    <a href="{{ url_for('manage.add_cuisine') }}">
                                        <button type="submit" class="btn btn-primary btn-small">
                                            Add
                                        </button>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cuisine in cuisines %}
                            <tr>
                                <td class="col-8">{{ cuisine.cuisine_name }}</td>
                                <td class="col-2">
                                    <!-- edit cuisine option button link -->
                                    <a href="{{ url_for('manage.edit_cuisine', cuisine_id=cuisine._id)}}"
                                        class="btn-small btn-link">Edit</a>
                                    <!-- delete cuisine option button link -->
                                    <a href="{{ url_for('manage.delete_cuisine', cuisine_id=cuisine._id)}}"
                                        class="btn-small btn-link">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <!-- Meal type options view -->
            <h2 class="accordion-header" id="headingTwoAdmin">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseMealtypes" aria-expanded="false" aria-controls="collapseMealtypes">
                    Meal Types
                </button>
            </h2>
            <div id="collapseMealtypes" class="accordion-collapse collapse" aria-labelledby="headingTwoAdmin"
                data-bs-parent="#accordionAdmin">
                <div class="accordion-body">
                    <!-- table of mealtype options -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Meal Type</th>
                                <th scope="col">
                                    <!-- button to add additional mealtype item -->
                                    <a href="{{ url_for('manage.add_mealtype') }}">
                                        <button type="submit" class="btn btn-primary btn-small">Add</button>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mealtype in mealtypes %}
                            <tr>
                                <td class="col-8">{{ mealtype.mealtype_name }}</td>
                                <td class="col-2">
                                    <!-- edit mealtype option button link -->
                                    <a href="{{ url_for('manage.edit_mealtype', mealtype_id=mealtype._id)}}"
                                        class="btn-small btn-link">Edit</a>
                                    <!-- delete mealtype option button link -->
                                    <a href="{{ url_for('manage.delete_mealtype', mealtype_id=mealtype._id)}}"
                                        class="btn-small btn-link">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <!-- Diet options view -->
            <h2 class="accordion-header" id="headingThreeAdmin">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseDiets" aria-expanded="false" aria-controls="collapseDiets">
                    Diets
                </button>
            </h2>
            <div id="collapseDiets" class="accordion-collapse collapse" aria-labelledby="headingThreeAdmin"
                data-bs-parent="#accordionAdmin">
                <div class="accordion-body">
                    <!-- table of diet type options -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Diet</th>
                                <th scope="col">
                                    <!-- button to add additional diet item -->
                                    <a href="{{ url_for('manage.add_diet') }}">
                                        <button type="submit" class="btn btn-primary btn-small">
                                            Add
                                        </button>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for diet in diets %}
                            <tr>
                                <td class="col-8">{{ diet.diet_name }}</td>
                                <td class="col-2">
                                    <!-- edit diet type option button link -->
                                    <a href="{{ url_for('manage.edit_diet', diet_id=diet._id)}}"
                                        class="btn-small btn-link">Edit</a>
                                    <!-- delete diet type option button link -->
                                    <a href="{{ url_for('manage.delete_diet', diet_id=diet._id)}}"
                                        class="btn-small btn-link">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}