{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1 class="text-center">Add New Recipe</h1>

    <div id="recipeEditForm">
        <!-- Adapted from https://getbootstrap.com/docs/5.1/forms/layout/ -->
        <form class="row p-3" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="row">
                <label for="recipe_name" class="col-sm-2 col-form-label">Recipe name: </label>
                <input type="text" class="form-control col-sm-10" id="recipe_name" name="recipe_name">
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="total_time" class="col-form-label">Total time: </label>
                    <input type="text" class="form-control" id="total_time" name="total_time">
                </div>
                <div class="col-sm-6">
                    <label for="active_time" class="col-form-label">Active time: </label>
                    <input type="text" class="form-control" id="active_time" name="active_time">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="cuisine" class="form-label">Cuisine</label>
                    <select id="cuisine" name="cuisine" class="validate form-select" required>
                        <option value="" disabled>Choose cuisine type</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="mealType" class="form-label">Meal Type</label>
                    <select id="mealType" name="mealType" class="validate form-select" required>
                        <option value="" disabled>Choose meal type</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="diet" class="form-label">Diet</label>
                    <select id="diet" name="diet" class="validate form-select" required>
                        <option value="" disabled>Choose diet type</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2>Ingredients</h2>
                    <!-- Adapted from https://getbootstrap.com/docs/5.1/forms/input-group/ -->
                    <div>
                        <table class="col-sm-12">
                            <tbody id="ingredient-list">
                                <tr>
                                    <td class="col-sm-10">
                                        
                                    </td>
                                    <td class="col-sm-1">
                                        <button class="btn btn-primary" type="button" id="add-ingredient"
                                            onclick="add_ingredient()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                    <td class="col-sm-1">
                                        <button class="btn btn-primary" type="button" id="remove-ingredient"
                                        onclick="del_ingredient(this)">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Method</h2>
            <div class="form-check">

            </div>
        </div>
    </div>
    <div class="col-12">
        <!-- Submit button, saved to MongoDB -->
        <button type="submit" class="btn btn-primary">Save</button>
        <!-- Cancel button, discards changes -->
        <a href="{{ url_for('collection') }}">Cancel</a>
    </div>
    </form>

</div>

{% endblock %}