{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1 class="text-center">Administration</h1>

    <!-- Adapted from https://getbootstrap.com/docs/5.1/components/accordion/ -->
    <div class="accordion" id="accordionAdmin">
        <div class="accordion-item">
            <!-- Cuisine options view -->
            <h2 class="accordion-header" id="headingOneAdmin">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Cuisines
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOneAdmin"
                data-bs-parent="#accordionAdmin">
                <div class="accordion-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">
                                    <a href="{{ url_for('add_cuisine') }}">
                                        <button type="submit" class="btn btn-primary btn-small">
                                            Add
                                        </button>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cuisine in cuisines %}
                            <tr>
                                <td class="col-8">{{ cuisine.cuisine_name }}</td>
                                <td class="col-2">
                                    <a href="{{ url_for('edit_cuisine', cuisine_id=cuisine._id)}}"
                                        class="btn-small btn-link">Edit</a>
                                    <a href="{{ url_for('delete_cuisine', cuisine_id=cuisine._id)}}"
                                        class="btn-small btn-link">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <!-- Meal type options view -->
            <h2 class="accordion-header" id="headingTwoAdmin">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Meal Types
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwoAdmin"
                data-bs-parent="#accordionAdmin">
                <div class="accordion-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Meal Type</th>
                                <th scope="col">
                                    <a href="{{ url_for('add_mealtype') }}">
                                        <button type="submit" class="btn btn-primary btn-small">Add</button>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mealtype in mealtypes %}
                            <tr>
                                <td class="col-8">{{ mealtype.mealtype_name }}</td>
                                <td class="col-2">
                                    <a href="{{ url_for('edit_mealtype', mealtype_id=mealtype._id)}}"
                                        class="btn-small btn-link">Edit</a>
                                    <a href="{{ url_for('delete_mealtype', mealtype_id=mealtype._id)}}"
                                        class="btn-small btn-link">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <!-- Diet options view -->
            <h2 class="accordion-header" id="headingThreeAdmin">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Diets
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThreeAdmin"
                data-bs-parent="#accordionAdmin">
                <div class="accordion-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Diet</th>
                                <th scope="col">
                                    <a href="{{ url_for('add_diet') }}">
                                        <button type="submit" class="btn btn-primary btn-small">
                                            Add
                                        </button>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for diet in diets %}
                            <tr>
                                <td class="col-8">{{ diet.diet_name }}</td>
                                <td class="col-2">
                                    <a href="{{ url_for('edit_diet', diet_id=diet._id)}}"
                                        class="btn-small btn-link">Edit</a>
                                    <a href="{{ url_for('delete_diet', diet_id=diet._id)}}"
                                        class="btn-small btn-link">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}