{% extends "base.html" %}
{% block content %}


<h1 class="text-center">My Recipes</h1>

<!-- Table of recipes -->
<div class="container">
    <div class="row">
        <button type="submit" class="col-2 btn btn-primary">
            <a href="{{ url_for('add_recipe') }}">Add New</a>
        </button>
        <a class="col-10">
            <i class="fas fa-search prefix"></i>
            <input class="text-center" type="text" id="search-col" name="search-col" placeholder="Search">
        </a>
    </div>
</div>
<!-- Adapted from https://getbootstrap.com/docs/5.1/content/tables/ -->
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Recipe</th>
                <th scope="col">Cuisine</th>
                <th scope="col">Meal type</th>
                <th scope="col">Diet</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.recipe_name }}</td>
                <td>{{ recipe.cuisine }}</td>
                <td>{{ recipe.type }}</td>
                <td>{{ recipe.diet }}</td>
                <td>
                    <a href="{{ url_for('select_recipe', recipe_id=recipe._id)}}" class="btn-small">View</a>
                </td>
                <td>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn-small">Edit</a>
                </td>
                <td>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn-small">Delete</a>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}