{% extends "base.html" %}
{% block content %}


<h1 class="text-center">My Recipes</h1>

<!-- Table of recipes -->
<div class="container">
    <div class="row">
        <button type="submit" class="col-2 btn btn-dark btn-lg">
            Add New
        </button>
        <a class="col-10">
            <i class="fas fa-search prefix"></i>
            <input class="text-center" type="text" id="search-col" name="search-col" placeholder="Search">
        </a>
    </div>
    <div class="row">
        <ul>
            {% for recipe in recipes %}
            <li class="col-8">
                {{ recipe.recipe_name }}
                <a href="{{ url_for('recipes', recipe=recipe)}}">View</a
            </li>
            {% endfor %}
        </ul>

    </div>

</div>

{% endblock %}